/* add your CSS here */
body {
    font-family: "Times New Roman";
    line-height: 1.3;
    font-size: 15px;
}

.container {
    width: 300px;
    border: 1px solid lightgray;
    box-shadow: 10px 10px 5px #dddddd;
    padding: 10px;
    background: linear-gradient(135deg, whitesmoke, white);
}

.container div {
    margin-top: 10px;
}

img {
    display: block;
    width: 300px;
}

.content {
    border: 1px solid lightgray;
    padding: 10px;
}

span {
    font-weight: bold;
}

.fact {
    font-style: italic;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

li li {
    padding-left: 20px;
}